<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отсортировать клиентов по именам</title>
</head>
<body>
<table border="3">
  <tr>
    <td>Имя клиента</td>
    <td>Телефон</td>
    <td>Роль</td>
  </tr>
  <tr th:each="client: ${sortedClients}">
    <td th:text="${client.getUsername()}"></td>
    <td th:text="${client.getPhone()}"></td>
    <td th:text="${client.getRole()}"></td>
</table>
<br>
<a th:href="@{/clients}">Назад</a>
</body>
</html>